<section id="catalog-section" class="spaced">

  <h1 class="item">All Accomodation</h1>

  {{!-- <main class="item pad-large align-center">
    <div>
      <form class="layout left large" method="get">
        <div class="col">
          <label><span>Terms</span><input name="search" value="{{searchedValue}}"></label>
          <label><span>Location</span><input name="city" value="{{city}}"></label>
        </div>

        <div class="content">
          <label>
            <span>From Price</span>
            <input type="number" name="fromPrice" min="1" max="1000" value="{{fromPrice}}">
          </label>
          <label>
            <span>To Price</span>
            <input type="number" name="toPrice" min="1" max="1000" value="{{toPrice}}">
          </label>
        </div>

        <input class="action" type="submit" value="Search">
      </form>
    </div>
  </main> --}}

  {{#if rooms}}
  <ul class="catalog cards">
    {{#each rooms}}
    {{> roomCard}}
    {{/each}}
  </ul>
  {{else}}
  <main class="item pad-large align-center">
    <p>Nothing listed yet. Be the first!</p>
    <div>
      <a class="action" href="/create">Host Accomodation</a>
    </div>
  </main>
  {{/if}}

</section>